@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #999999;
	word-wrap:break-word;
}


.logo_1{
margin: 0 0 0 0;
}

.logo_2{
margin: 0 0 0 0;
}
@media screen and (max-width:480px) {
 
	/*　この位置に記述する　*/
	.logo_1 {
    width: 40%;
    height: 40%;
	}
 
}


.container {
	width: 100%;
	margin: auto;
	font-weight: 1000;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 100px;
  z-index: 1;
}
@media screen and (max-width:480px) {
 
	/*　この位置に記述する　*/
	.container {
    width: 100%;
    margin: auto;
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 100px;
    z-index: 1;
	}
 
}



.animate {
	font-size: 80px;
	margin: 250px 0 0 0;
	border-bottom: 8px solid #c62d2d;
  
}

@media screen and (max-width:480px) {
 
	/*　この位置に記述する　*/
	.animate {
  font-size: 5vh;
  position:relative;
	border-bottom: 8px solid #c62d2d;
  
	}
 
}
.animate span {
	display: inline-block;
  z-index: 10;
}


.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}


.walk span {
	color: #000000;
	opacity: 0;
	transform: translate(-300px, 0) scale(20);
	animation: sideSlide .5s forwards;
}

@keyframes sideSlide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #000000;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: #b60000;
	}

	99% {
		transform: translate(0) scale(1.2);
		color: #b60000;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #000000;
	}
}







*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  
  text-decoration: none;
  letter-spacing: 0.1em;

  border-radius: 0.5rem;
  
  margin-right: auto;
  margin-left: auto;
  display: block;
}

a.btn-flat {
  overflow: hidden;
  
  padding: 1.5rem 6rem;

  color: #ffffff;
  border-radius: 0;
  background: #b60000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-10%) translateY(-50%) rotate(0deg);
  transform: translateX(-10%) translateY(-50%) rotate(0deg);

  background: #000000;
}
@media screen and (max-width:480px) {
 
	/*　この位置に記述する　*/
	a.btn-flat:before  {
		
	  
		content: "";
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		-webkit-transform: translateX(-0%) translateY(-100%) rotate(45deg);
		transform: translateX(-0%) translateY(-100%) rotate(45deg);
	  
	}
 
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-15%) translateY(50%) rotate(45deg);
  transform: translateX(-4%) translateY(50%) rotate(45deg);
}
@media screen and (max-width:480px) {
 
	/*　この位置に記述する　*/
	a.btn-flat:hover:before  {
		
	  
		content: "";
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		-webkit-transform: translateX(-6.5%) translateY(90%) rotate(45deg);
		transform: translateX(-2%) translateY(90%) rotate(45deg);
	  
		
	}
 
}
